@model MAS_semestral_project_MVS.Models.Views.HomeModelView

@{
    ViewData["Title"] = "Home Page";
}
<!-- Сделать 2 квадрата на одном уровне (Таблицы и названия к ним)-->
<div class="text-center">
    <div class="table-title-contener">
        <h3 class="table-title">Client list</h3>
        <h3 class="table-title">Receptionist list</h3>
    </div>
    <div class="elements-table-place">
        @* Html.Partial("Partials/ClientList", Model.Clients) *@
        <!-- Если, что, то закину через ViewData[""]-->
        <!-- <h3 class="table-title">Client list</h3> -->
        <table class="list-element">
            <thead>
                <tr>
                    <th class="element-head">
                        First Name
                    </th>
                    <th class="element-head">
                        Second Name
                    </th>
                    <th class="element-head">
                        Passport Data
                    </th>
                    <th class="element-button-head">Actions</th> <!-- Buttons. -->
                </tr>
            </thead>
            <tbody class="table-element-body">
                <div class="scroll-items">
                    @foreach (var item in Model.Clients)
                    {
                        <tr>
                            <td class="element-body">
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td class="element-body">
                                @Html.DisplayFor(modelItem => item.SecondName)
                            </td>
                            <td class="element-body">
                                @Html.DisplayFor(modelItem => item.PassportData)
                            </td>
                            <td class="element-body">
                                <!--
                                <a class="button-edit" asp-action="Edit" asp-route-id="@item.IdOsoba">Edit</a> |
                                <a class="button-details" asp-action="Details" asp-route-id="@item.IdOsoba">Details</a> |
                                <a class="button-delete" asp-action="Delete" asp-route-id="@item.IdOsoba">Delete</a> |
                                -->
                                <a class="button-find" asp-action="FindByClientReceptionists" asp-route-id="@item">Find Receptionists</a>
                            </td>
                        </tr>
                    }
                </div>
            </tbody>
        </table>
        <!--
    </div>
    <div class="elements-table-place">
            -->
        <!--  <h3 class="table-title">Receptionist list</h3> -->
    <table class="list-element">
        <thead>
            <tr>
                <th class="element-head">
                    First Name
                </th>
                <th class="element-head">
                    Second Name [CLIENT]
                </th>
                <th class="element-head">
                    Employee Experience Type
                </th>
                <th class="element-button-head">Actions</th> <!-- Buttons. -->
        </tr>
        </thead>
        <tbody class="table-element-body">
            <div class="scroll-items">
                @foreach (var item in Model.Receptionists)
                {
                    <tr>
                        <td class="element-body">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="element-body">
                            @Html.DisplayFor(modelItem => item.SecondName)
                            @* Html.DisplayFor(modelItem => item.CustomerConversationClientIdOsobaNavigations.First().ClientIdOsobaNavigation.SecondName) *@
                        </td>
                        <td class="element-body">
                            @foreach (var conv in item.CustomerConversationEmployeeIdOsobaNavigations)
                            { 
                                @Html.DisplayFor(modelItem => conv.ClientIdOsobaNavigation.SecondName)
                            }
                            <!-- Html.DisplayFor(modelItem => item.CustomerConversationClientIdOsobaNavigations.Count())
        Html.DisplayFor(modelItem => item.EmployeeExperienceType) -->
                        </td>
                        <td class="element-body">
                            <!--
                            <a class="button-edit" asp-action="Edit" asp-route-id="@item.IdOsoba">Edit</a> |
                            <a class="button-details" asp-action="Details" asp-route-id="@item.IdOsoba">Details</a> |
                            <a class="button-delete" asp-action="Delete" asp-route-id="@item.IdOsoba">Delete</a> |
                            -->
                            <a class="button-find" asp-action="FindByReceptionistClients" asp-route-id="@item">Find Clients</a>
                        </td>
                    </tr>
                }
            </div>
        </tbody>
        </table>
    <p>@ViewData["my_info"]</p>

        @*Html.Partial("Partials/ReceptionistList", Model.Receptionists)*@
    </div>
</div>
