@model IEnumerable<MAS_semestral_project_MVS.DataBaseModels.CustomerConversation>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MarkServiceQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversationDurationInSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientIdOsobaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIdOsobaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarkServiceQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversationDurationInSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientIdOsobaNavigation.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeIdOsobaNavigation.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
