@model IEnumerable<MAS_semestral_project_MVS.DataBaseModels.CustomerConversation>

<table class="list-element">
    <thead>
        <tr>
            <th class="element-head">
                Client Id
            </th>
            <th class="element-head">
                Employee Id
            </th>
            <th class="element-head">
                Mark Service Quality
            </th>
            <th class="element-head">
                Start Date Time
            </th>
            <th class="element-button-head">Actions</th>
        </tr>
    </thead>
    <tbody class="table-element-body">
        <div class="scroll-items">
            @foreach (var item in Model)
            {
            <tr>
                <td class="element-body">
                    Client @Html.DisplayFor(modelItem => item.ClientIdOsoba)
                </td>
                <td class="element-body">
                    Receptionist @Html.DisplayFor(modelItem => item.EmployeIdOsoba)
                </td>
                <td class="element-body">
                    @Html.DisplayFor(modelItem => item.MarkServiceQuality)
                </td>
                <td class="element-body">
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td class="element-body">
                    <a class="button-edit" asp-action="Edit" asp-route-id="@item.IdCustomerConversation">Edit</a> |
                    <a class="button-details" asp-action="Details" asp-route-id="@item.IdCustomerConversation">Details</a> |
                    <a class="button-delete" asp-action="Delete" asp-route-id="@item.IdCustomerConversation">Delete</a> |
                </td>
            </tr>
            }
        </div>
    </tbody>
</table>
